USE [master]
GO
/****** Object:  Database [Webpage]    Script Date: 08/18/2015 13:06:33 ******/
CREATE DATABASE [Webpage] ON  PRIMARY 
( NAME = N'Webpage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Webpage.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Webpage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Webpage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Webpage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Webpage]
GO
/****** Object:  Table [dbo].[Cust]    Script Date: 08/18/2015 13:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cust](
	[UId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Pass] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cust] ([UId], [Name], [Address], [Mobile], [Email], [Pass]) VALUES (N'1001', N'amish vora', N'M.G.Road, Goregoan', N'9076613215', N'voramish7018@gmail.com', N'User')
